= form_for @coach do |f|
  - if @coach.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coach.errors.count, "error")} prohibited this coach from being saved:"
      %ul
        - @coach.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :reputation
    = f.number_field :reputation
  .field
    = f.label :roles
    = f.number_field :roles
  .actions
    = f.submit 'Save'
