= form_for @post, :html => { class: 'form-signin' } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :profile_id, value: Profile.find(current_user.id).id
  .p-3.bg-dark.text-white
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :video
      = f.file_field :video, class: 'form-control-file'
    .form-group
      = f.label :thumbnail
      = f.file_field :thumbnail, class: 'form-control-file'
    -# .field
    -#   = f.label :link
    -#   = f.text_field :link
    .actions
      = f.submit 'Save', class: 'btn btn-primary btn-block font-weight-bold'
