= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :profile_id, value: Profile.find(current_user.id).id
  
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :video
    = f.file_field :video
  .field
    = f.label :thumbnail
    = f.file_field :thumbnail
  -# .field
  -#   = f.label :link
  -#   = f.text_field :link
  .actions
    = f.submit 'Save'
