-# -if Review.where(post_id: post.id).length != 0
.modal.fade(id='post-#{post.id}' aria-hidden='true' role='dialog' tabindex='-1')
  .modal-dialog.modal-lg(role='document')
    .modal-content.bg-secondary.text-white

      .modal-header.bg-dark.border-dark
        .container
          %p(style='font-size: 12px;') Posted by #{link_to profile.tag + ' (' + profile.sr.to_s + ')', profile_path(id: profile.id), class: 'text-primary'} #{time_ago_in_words(post.created_at)} ago...
          .d-flex.align-items-center
            %svg.donut.mr-3(width='32' height='32' viewBox='0 0 42 42')
              %circle.donut-hole(cx='21' cy='21' r='15.91549430918954' fill='transparent')
              %circle.donut-ring(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='#00e600' stroke-width='5')
              %circle.donut-segment(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='#ff3333' stroke-width='5' stroke-dasharray='#{coachability} #{100-coachability}' stroke-dashoffset='0')
            -# =image_tag 'rank-' + get_rank(post.id).to_s + '.png'
            %h4.modal-title.d-inline= post.title
        %button.close.text-warning(aria-label='Close' data-dismiss='modal' type='button')
          %span(aria-hidden='true') ×

      .modal-body.border-dark
        .row
          .col-xl-6.pr-3.sticky-top
            .embed-responsive.embed-responsive-16by9.rounded.mb-2.sticky-top
              %iframe.embed-responsive-item(width='560' height='315' src='https://www.youtube.com/embed/ahWZdhcrry4' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen)
            -if current_user
              -if Profile.find(current_user.id).sr > profile.sr
                =link_to 'Write a Review!', new_review_path, class: 'btn btn-primary btn-block'
              -else
                %button.btn.btn-primary.btn-block(disabled) Sorry, your SR is too low to write a review
          .col-xl-6
            -if Review.where(post_id: post.id).length != 0
              =render :partial => 'reviews', :locals => { reviews: Review.where(post_id: post.id) }
            -else
              %p.m-2.text-center No reviews yet.

      .modal-footer.bg-dark.border-dark
        %button.btn.btn-warning.btn-block(data-dismiss='modal' type='button') Close

-# -else
-#   %button.btn.btn-primary.btn-block.font-weight-bold.text-truncate(disabled)= post.title
