%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  = link_to 'OW Coach', root_path, class: 'navbar-brand'
  = link_to 'v1.0.0', notes_path, class: 'btn btn-outline-primary btn-sm text-white mr-auto'
  %button.navbar-toggler{ :type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbarSupportedContent', 'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
    %span.navbar-toggler-icon.text-white
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.text-center.ml-auto
      - if user_signed_in?
        %li.nav-item.mr-2.pt-2.text-white
          = current_user.email
        .dropdown-divider
        %li.nav-item
          = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-sm'
      - else
        %li.nav-item.mr-2.pt-2.text-white Welcome Guest!
        .dropdown-divider
        %li.nav-item
          .btn-group
            = link_to 'Sign In', new_user_session_path, class: 'btn btn-secondary btn-sm text-white'
            = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-sm text-dark'
